<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Brand</th>
      <th scope="col">Price <button (click)="sortPriceAscClicked()"><i class="fas fa-caret-up"></i></button><button (click)="sortPriceDescClicked()"><i class="fas fa-caret-down"></i>
</button></th>
      <th scope="col">ABV <button (click)="sortABVAscClicked()"><i class="fas fa-caret-up"></i></button><button (click)="sortABVDescClicked()"><i class="fas fa-caret-up"></i></button></th>
      <th scope="col">Pints remaining</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let currentKeg of childKegList | emptiness">
      <td>{{currentKeg.name}}</td>
      <td>{{currentKeg.brand}}</td>
      <td>${{currentKeg.price}}</td>
      <td>{{currentKeg.ABV}}%</td>
      <td [class]="stockColor(currentKeg)">{{currentKeg.pints}}</td>
      <td><button (click)="sellButtonClicked(currentKeg)">Sell Pint</button></td>
      <td><button (click)="editButtonClicked(currentKeg)">Edit Keg</button></td>
    </tr>
  </tbody>
</table>
